<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="Dashboard" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Bootstrap -->
    <link href="/Assets/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="/Assets/bootstrap/css/bootstrap-theme.css" rel="stylesheet" />

    <!-- Jquery -->
    <link href="/Assets/jquery/css/jquery.ui.css" rel="stylesheet" />
    <link href="/Assets/jquery/css/jquery.cscrollbar.css" rel="stylesheet" />
    <link href="/Assets/jquery/css/jquery.datetimepicker.css" rel="stylesheet" />
    <link href="/Assets/jquery/css/jquery.jcrop.css" rel="stylesheet" />
    <link href="/Assets/jquery/css/jquery.contextMenu.css" rel="stylesheet" />
    <link href="/Assets/jquery/css/jquery.megaimgviewer.css" rel="stylesheet" />
    <link href="/Assets/jquery/css/jquery.selectbox.css" rel="stylesheet" />
    <link href="/Assets/jquery/css/jquery.lightbox.min.css" rel="stylesheet" />
    <link href="/Assets/jquery/css/jquery.stacktable.css" rel="stylesheet" />
    <link href="/Assets/jquery/css/jquery.bootstrap-select.css" rel="stylesheet" />
    <link href="/Assets/jquery/css/jquery.select2.css" rel="stylesheet" />

    <!-- Beyond -->
    <link href="/Assets/beyond/css/font-awesome.css" rel="stylesheet" />
    <link href="/Assets/beyond/css/weather-icons.css" rel="stylesheet" />
    <link href="/Assets/beyond/css/beyond.css" rel="stylesheet" />
    <link href="/Assets/beyond/css/demo.css" rel="stylesheet" />
    <link href="/Assets/beyond/css/typicons.css" rel="stylesheet" />
    <link href="/Assets/beyond/css/animate.css" rel="stylesheet" />
    <link href="/Assets/beyond/css/dataTables.bootstrap.css" rel="stylesheet" />


    <!-- PDF -->
    <link href="/pdf/viewer.css" rel="stylesheet" />

    <!-- APP -->
    <link href="~/Assets/app/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/Assets/app/css/icons.css" rel="stylesheet" />
    <link href="~/Assets/app/css/main.css" rel="stylesheet" />
    <link href="~/Assets/app/css/size.css" rel="stylesheet" />
    <link href="~/Assets/app/css/icons.css" rel="stylesheet" />
    <link href="~/Assets/app/css/upfile.css" rel="stylesheet" />
    <link href="~/Assets/app/css/table.css" rel="stylesheet" />
    <link href="~/Assets/app/css/chat.css" rel="stylesheet" />
    <link href="~/Assets/app/css/ntfs.css" rel="stylesheet" />
    <link href="~/Assets/app/css/stg.css" rel="stylesheet" />
    <link href="~/Assets/app/css/cust.css" rel="stylesheet" />
    @{
        var themeDef = GlobalConfig.GetStringSetting("ThemeDef");
        if (!string.IsNullOrEmpty(themeDef))
        {
            <link href="/Assets/app/css/@(themeDef).css" rel="stylesheet" />
        }
    }

    <!-- fix_ie -->
    <link href="/Assets/app/css/fix_ie.css" rel="stylesheet" />
</head>
<body class="@(Utils.IsEmpty(GlobalConfig.GetStringSetting("BannerHeader")) ? string.Empty : "hasBanner")">
    @Html.Partial("Header")
    <div class="main-container container-fluid">
        <div class="page-container">
            <div class="page-sidebar" id="sidebar">
                @Html.Partial("LeftBackUp")
            </div>
            <div id="Section" class="page-content">
                @Html.Partial("Message")
                @RenderBody()
            </div>
        </div>
    </div>
    <div id="Overlay" class="overlay"><sub></sub></div>
    @Html.Partial("Blocks/DragUpfile", "stgfile")
    <div class="hidden">
        <input type="file" class="inputUpFile" id="AttachFile" />
        <input type="file" class="hidden" id="InputAvatar" multiple="multiple" />
        <input type="file" class="inputUpFile" id="AttachFiles" multiple="multiple" />
        <input type="file" class="inputStgFile" id="AttachSfiles" multiple="multiple" data-target="#DragBoxFrmUpfile" />
        <textarea id="CDATA" class="hidden">@ViewBag.CData</textarea>
        <audio id="AudioChat"><source src="/login/Assets/app/audio/notify.mp3" type="audio/mpeg" /></audio>

        <div id="dialogEditor" title="@Locate.T("Soạn thảo nội dung")">
            <div class="box-textarea">
                <textarea class="form-control noresize"></textarea>
            </div>
        </div>
        @Html.Partial("Forms/FormUpfile")
    </div>
    @Html.Partial("Dock")

    <!-- Jquery -->
    <script src="/Assets/jquery/js/jquery.js"></script>
    <script src="/Assets/jquery/js/jquery.datetimepicker.js"></script>
    <script src="/Assets/jquery/js/jquery.contextMenu.js"></script>
    <script src="/Assets/jquery/js/jquery.dateformat.js"></script>

    <script src="/Assets/jquery/js/jquery.ui.js"></script>
    <script src="/Assets/jquery/js/jquery.mousewheel.js"></script>
    <script src="/Assets/jquery/js/jquery.cscrollbar.js"></script>
    <script src="/Assets/jquery/js/jquery.bootstrap-select.js"></script>
    <script src="/Assets/jquery/js/jquery.jcrop.js"></script>



    <script src="/Assets/jquery/js/jquery.serializejson.js"></script>
    <script src="/Assets/jquery/js/jquery.megaimgviewer.js"></script>
    <script src="/Assets/jquery/js/jquery.jwplayer.js"></script>
    <script src="/Assets/jquery/js/jquery.selectbox.js"></script>
    <script src="/Assets/jquery/js/jquery.rating.js"></script>
    <script src="/Assets/jquery/js/jquery.bootstrap-select.js"></script>
    <script src="/Assets/jquery/js/jquery.lightbox-plus-jquery.min.js"></script>
    <script src="/Assets/jquery/js/jquery.stacktable.js"></script>
    <script src="/Assets/jquery/js/jquery.simple.money.format.js"></script>
    <script src="/Assets/jquery/js/jquery.select2.js"></script>

    <!-- Bootstrap -->
    <script src="/Assets/bootstrap/js/bootstrap.js"></script>

    <!-- Beyond -->
    <script src="/Assets/beyond/js/slimscroll/jquery.slimscroll.js"></script>
    <script src="/Assets/beyond/js/validation/bootstrapValidator.js"></script>
    <script src="/Assets/beyond/js/editors/summernote/summernote.js"></script>
    <script src="/Assets/beyond/js/nestable/jquery.nestable.min.js"></script>
    <script src="/Assets/beyond/js/charts/easypiechart/jquery.easypiechart.js"></script>
    <script src="/Assets/beyond/js/charts/easypiechart/easypiechart-init.js"></script>
    <script src="/Assets/beyond/js/fuelux/treeview/tree-custom.js"></script>
    <script src="/Assets/beyond/js/charts/flot/jquery.flot.js"></script>
    <script src="/Assets/beyond/js/charts/flot/jquery.flot.resize.js"></script>
    <script src="/Assets/beyond/js/charts/flot/jquery.flot.pie.js"></script>
    <script src="/Assets/beyond/js/charts/flot/jquery.flot.tooltip.js"></script>
    <script src="/Assets/beyond/js/charts/flot/jquery.flot.orderBars.js"></script>
    <script src="/Assets/beyond/js/skins.js"></script>
    <script src="/Assets/beyond/js/beyond.js"></script>

    <!-- PDF -->
    <script src="/pdf/compatibility.js"></script>
    <script src="/pdf/l10n.js"></script>
    <script src="/pdf/build/pdf.js"></script>
    <script src="/pdf/viewer.js"></script>


    <!-- APP -->
    <script src="~/Assets/app/js/autocomplete.js"></script>
    <script src="~/Assets/app/js/utils.js"></script>
    <script src="~/Assets/app/js/main.js"></script>
    <script src="~/Assets/app/js/uploader.js"></script>
    <script src="~/Assets/app/js/upfile.js"></script>
    <script src="~/Assets/app/js/tree.js"></script>
    <script src="~/Assets/app/js/avatar.js"></script>
    <script src="~/Assets/app/js/stgfile.js"></script>
    <script src="~/Assets/app/js/scan.js"></script>
    <script src="~/Assets/app/js/doc.note.js"></script>
    <script src="~/Assets/app/js/base64.js"></script>
    <script src="~/Assets/app/js/vgcaplugin.js"></script>
    <script src="~/Assets/app/js/cks.js"></script>
    <script src="~/Assets/app/js/test.js"></script>
    <script src="~/Assets/app/js/cust.js"></script>

    <!-- login -->
    <script src="/login/Assets/jquery/js/jquery.signalr.js"></script>
    <script src="/login/Assets/app/js/realtime.js"></script>
    <script src="/login/Assets/app/js/chat.js"></script>
    <script src="/login/realtime/hubs"></script>

    <!-- check-ie -->
    <script src="/Assets/app/js/modernizr-custom.js"></script>
    <script src="/Assets/app/js/check-ie-version.js"></script>
</body>
</html>