<form id="FrmCrCategory" data-bv-feedbackicons-validating="glyphicon glyphicon-refresh" data-bv-feedbackicons-invalid="glyphicon glyphicon-remove" data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
      title="@Locate.T("Tạo mới danh mục")" action="@Locate.Url("/category/save.html")" class="form-horizontal bv-form validateForm useScrollBar uhf50d" method="post" novalidate="novalidate">
    <div class="container-fluid">
        <div class="form-group">
            <label class="col-lg-2 control-label">@Locate.T("Thuộc loại")</label>
            <div class="col-lg-10">
                <input id="CrCategoryParentName" name="ParentName" data-targetid="#CrCategoryParentID" data-type="@ViewBag.CategoryType.ID" placeholder="@Locate.T(ViewBag.CategoryType.Name)" class="form-control autocompleteCategory" type="text">
                <input id="CrCategoryParentID" name="Parent" type="hidden" />
                <input name="Type" value="@ViewBag.CategoryType.ID" type="hidden" />
            </div>
        </div>
        <div class="form-group has-feedback">
            <label class="col-lg-2 control-label">@Locate.T("Mã")</label>
            <div class="col-lg-10">
                <input id="CrCategoryCode" name="Code" type="text" placeholder="@Locate.T("Mã")"
                       data-bv-notempty-message="@Locate.T("Mã không được trống")"
                       data-bv-notempty="true" class="form-control"
                       data-bv-field="Code">
            </div>
        </div>
        <div class="form-group has-feedback">
            <label class="col-lg-2 control-label">@Locate.T("Tên")</label>
            <div class="col-lg-10">
                <input id="CrCategoryName" name="Name" type="text" placeholder="@Locate.T("Tên")"
                       data-bv-notempty-message="@Locate.T("Tên không được trống")"
                       data-bv-notempty="true" class="form-control"
                       data-bv-field="Name">
            </div>
        </div>
        <div class="form-group has-feedback">
            <label class="col-lg-2 control-label">@Locate.T("Mô tả")</label>
            <div class="col-lg-10">
                <textarea id="CrCategoryDescribe" name="Describe" rows="10" cols="20" placeholder="@Locate.T("Mô tả")" class="form-control noresize" data-bv-field="Describe"></textarea>
            </div>
        </div>
    </div>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <div class="ui-dialog-buttonset">
            <button type="submit" class="btn btn-info">@Locate.T("Xong")</button>
        </div>
    </div>
</form>