@model DocproPVEP.Models.View.CategoryCusModel
@{
    var listRooms = Model.categories ?? new List<Category>();
}
<table class="table table-bordered table-hover table-striped dataTable table_custom stacktable_inited stacktable" role="grid" aria-describedby="searchable_info">
    <thead>
        <tr>
            <th class="center wpx50">@Locate.T("STT")</th>
            <th class="wpx150 center">@Locate.T("Mã danh mục")</th>
            <th class="wpx300 center">@Locate.T("Tên danh mục")</th>
            <th class="wpx150 center">@Locate.T("Thao tác")</th>
        </tr>
    </thead>
    <tbody>
        @{
            var stt = ViewBag.Pagination.RowStart;

            foreach (var item in listRooms)
            {
                var alias = Utils.StringAlias(item.Name, item.ID);
                var updateLink = Locate.Url("/Lione-Demo/update/{0}.html", alias);
              
                var deleteLink = Locate.Url("/Lione-Demo/is-delete/{0}.html", alias);
                stt++;
                <tr>
                    <td class="center">@stt</td>
                    <td class="center">@item.Code</td>
                    <td>@item.Name</td>
                    <td>
                        <ul class="important_action_btn">
                                <li>
                                    <a class=" edit quickUpdate" data-target="#FrmCr" title="@Locate.T("Sửa")" href="@updateLink">
                                        <i class="fa fa-pencil  btn-info"></i>
                                    </a>
                                </li>
                               
                                <li>
                                    <a class="quickDelete" data-target=".ui-dialog:visible" title="@Locate.T("Xóa")" href="@deleteLink">
                                        <i class="fa fa-trash-o btn-danger"></i>
                                    </a>
                                </li>
                        
                        </ul>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<div class="row DTTTFooter">
    @if (ViewBag.Pagination.RowCount == 0)
    {
        <div class="col-sm-12 text-center padt10">
            <strong>
                @Locate.T("Không có bản ghi nào được tìm thấy")
            </strong>
        </div>
    }
    else
    {
        <div class="col-md-6">
            <div class="dataTables_info text-left" id="searchable_info" role="status" aria-live="polite">
                <div>
                    <strong class="gray">
                        @Locate.T("Có {0} bản ghi được tìm thấy", ViewBag.Pagination.RowCount)
                    </strong>
                </div>
            </div>
        </div>
        <div class="col-md-6">@ViewBag.Pagination.SetTarget("#divTables").Render()</div>
    }
</div>